site_name: Documentation
repo_url: https://github.com/JoaoSantosFisip/fisipgroup-mkdocs-documentation

theme: 
  logo: images/icon.ico
  name: material
  primary: custom
  accent: red
  features:
    - navigation.sections
    - search.suggest
    - search.highlight
    - content.code.annotation
    - content.code.copy
  palette:
  # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: pink
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: pink
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode

extra:
  generator: false

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - attr_list
  - md_in_html
  - sane_lists
  
nav: 
  - Home: index.md
  
  - How to use MKDocs: mkdocs.md

  - Development:
      - Links And References: base_help-links.md
      - How to publish:
        - Github: base_publish_github.md
        - Android: base_publish_android.md
        - IOS: base_publish_ios.md
      - How to install External Dependency Manager for Unity: base_how_to_edmfu.md
      - Common Issues:
        - Facebook SDK Integration: base_facebooksdk.md
  
  - Custom Packages:
    - Home: custompackage.md
    - Guides:
      - How to add package via git URL: custompackage_guide_giturl.md
      - How to add package via tarball: custompackage_guide_tarball.md
      - How to update package: custompackage_guide_update.md
    - Addressables:
      - Setup: custompackage_addressables_setup.md
      - How to Update Addressables: custompackage_addressables_update.md
      - Recommended Settings: custompackage_addressables_settings.md
      - Simulate In Editor: custompackage_addressables_simulate.md
    # - Tools: custompackage_tools.md
    # - CloudSave: custompackage_cloudsave.md
    - Notifications: 
      - Setup: custompackage_notifications_setup.md
    # - AppUpdate: custompackage_appupdate.md

  - Games:
    - MowerMayhem:
      - GDD: games_mowermayhem_gdd.md
      - Publish Checklist: games_mowermayhem_publish.md
      - How to Develop Levels: games_mowermayhem_make_level.md

    #- Jump: games_jump.md