site_name: FisipGroup Documentation
repo_url: https://github.com/JoaoSantosFisip/fisipgroup-mkdocs-documentation

theme: 
  name: material
  features:
    - search.suggest
    - search.highlight
    - content.code.annotation
    - content.code.copy
  palette:
  # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - index.md
  - Base:
    - Links And References: base_help-links.md
    - Publish:
      - Android: base_publish_android.md
    - MKDocs: base_mkdocs.md
  
  - Common Issues:
    - Facebook SDK Integration: base_facebooksdk.md
  
  - Custom Packages:
    - Tools: custompackage_tools.md
    - Addressables: 'custompackage_addressables.md'
    - CloudSave: 'custompackage_cloudsave.md'
    - Notifications: 'custompackage_notifications.md'
    - AppUpdate: 'custompackage_appupdate.md'